# MATLAB and Simulink
*.asv
*.autosave
*.mex*
*.mlappinstall
*.p
*.slx.r*
*.slxc
*.slddc
*.sltx
*resources
*.orig

# Cache and Log files
# Ignore .mat files specifically inside any folder named 'cache'
**/cache/*.mat
*.log

# Microsoft Office temporary files
~$*.*

# Test Results
test-results/
# Google Drive shortcut files
*.[gG][dD][oO][cC]
*.[gG][sS][hH][eE][eE][tT]
*.[gG][sS][lL][iI][dD][eE][sS]
*.[gG][dD][rA][aW][w]
*.[gG][fF][oO][rR][mM]
*.[gG][mM][aA][pP]
*.[gG][sS][iI][tT][eE]